*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container .left {
    width: 56%;
    /* background-color: blue; */
    background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80);
    background-position: center;
}

.container .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left .title {
    font-size: 40px;
    font-family: Poppins;
    padding-top: 60px;
    padding-left: 30px;
}

.form-container {
    /* border: 1px solid lightcoral; */
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    width: 75%;
}

.form-container h2 {
    font-style: normal;
    font-family: 'Poppins'; 
    /* font-size: 65px; */
}

.form-container h5 {
    font-style: normal;
    font-family: 'Poppins';
    margin-bottom: 40px;
}

.input-group {
    box-shadow: 0px 4px 8px 0px #d3d3d3d4;
    /* margin-top: 45px; */
}

.input-group .email  {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.input-group .password {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.input-group .username {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.input-group .fullname {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.input-group label {
    font-family: Poppins;
    font-size: 10px;
}

.input-group-2 {
    margin-top: 10px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
}

.input-group-2 label {
    font-family: Poppins;
    font-size: 13px;
}

.input-group-2 a {
    color: black;
    text-decoration: none;
    font-family: Poppins;
    font-size: 12px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
}

.submitbtn {
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    width: 75px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 40px;
}

.registerbtn {
    background-color: white;
    border: 1px solid #D0CCCC;
    color: #D0CCCC;
    /* border: none; */
    padding: 6px;
    width: 75px;
    border-radius: 4px;
    cursor: pointer;
}

.submitbtn:hover {
    opacity: 0.8;
}

.registerbtn:hover {
    background-color: #D0CCCC;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.terms {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 75%;
    border-radius: 0px 0px 8px 8px;
}

.terms h6 {
    font-family: Poppins;
    color: #D0CCCC;
}

.terms a {
    color: black;
    text-decoration: none;
    font-family: Poppins;
    font-size: 11px;
}