*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-arrow {
    margin-top: 26px;
    margin-left: 24px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    position: fixed;
    cursor: pointer;
}

.edit-delete-container {
    display: flex;
    position: fixed;
    left: 90%;
    top: 24px;
}

.edit-delete-container .separator {
    color: white;
    font-size: 20px;
}

.edit-delete-container .edit-button {
    margin-right: 4px;
    margin-top: 2px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    cursor: pointer;
}

.edit-delete-container .delete-button {
    margin-left: 4px;
    margin-top: 2px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    cursor: pointer;
}

.book-cover {
    height: 288px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    bottom: 104px;
    left: 82%;
}

.jumbo-cover {
    height: 454px;
    background-image: url('../img/thelostbookshop-cover.jpg');
}

.borrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    position: absolute;
    margin-top: 310px;
    margin-left: 82%;
}

.borrow-button {
    background-color: #FBCC38;
    color: white;
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 54px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
}

.borrow-button:hover {
    background-color: #fbcd38b7;
}

.category-container {
    position: static;
    margin-top: 24px;
    margin-left: 45px;
    align-items: center;
    justify-content: center;
}

.category-container .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBCC38;
    width: 90px;
    color: white;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 16px;
    padding: 4px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    position: static;
    margin-top: 8px;
    margin-left: 45px;
    margin-right: 440px;
}

.title-container .title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 34px;
}

.title-container .status {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    color: #99D815;
}

.date-container {
    position: static;
    margin-top: 2px;
    margin-left: 45px;
    margin-right: 440px;
}

.date-container .date {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
}

.content-container {
    /* position: static; */
    margin-top: 48px;
    margin-left: 45px;
    margin-right: 440px;
}

.content-container .content {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 48px;
}

.footer {
    width: 100%;
    /* position: static; */
    height: auto;
    background-color: #070617;
    padding-left: 45px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer .footer-content {
    color: rgba(255,255,255,0.2);
    font-family: Poppins;
}

.modal-edit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-edit .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-edit .form-modal {
    margin-top: 12px;
    margin-bottom: 12px;
}

.modal-edit .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-edit .text-modal-1 {
    margin-top: 12px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
}

.modal-edit .container-url {
    display: flex;
    justify-content: space-between;
}
  
.container-url .input-url {
    width: 384px;
    border-radius: 6px;
    border: 1px solid #00000080;
}
  
.container-url .label-modal-url {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}
  
.modal-content .container-title {
    display: flex;
    justify-content: space-between;
}
  
.container-title .input-title {
    width: 384px;
    border-radius: 6px;
    border: 1px solid #00000080;
}
  
.container-title .label-modal-title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}
  
.modal-content .container-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
  
.container-description .input-description {
    border-radius: 6px;
    border: 1px solid #00000080;
}
  
.container-description .label-modal-description {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}
  
.container-button {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 408px;
    width: 18%;
}
  
.container-button .button-submit {
    background-color: #FBCC38;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    padding: 4px;
}

.container-button .button-submit:hover {
    opacity: 0.8;
    cursor: pointer;
}